In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('world-country-electricity.csv')
print(df)
df.describe()

                               Country              Features  \
0                              Algeria        net generation
1                               Angola        net generation
2                                Benin        net generation
3                             Botswana        net generation
4                         Burkina Faso        net generation
...                                ...                   ...
1605               Trinidad and Tobago  distribution losses
1606          Turks and Caicos Islands  distribution losses
1607               U.S. Virgin Islands  distribution losses
1608                           Uruguay  distribution losses
1609                         Venezuela  distribution losses

                       Region     1980     1981     1982     1983     1984  \
0                      Africa    6.683     7.65    8.824    9.615   10.537
1                      Africa    0.905    0.906    0.995    1.028    1.028
2                      Africa    0.005    0.005    0.005    0.005    0.005
3                      Africa    0.443    0.502    0.489    0.434    0.445
4                      Africa    0.098    0.108    0.115    0.117    0.113
...                       ...      ...      ...      ...      ...      ...
1605  Central & South America    0.244     0.21    0.152    0.326     0.36
1606  Central & South America  0.00035  0.00035  0.00035  0.00035  0.00035
1607  Central & South America  0.05243  0.05537  0.05607  0.05761  0.05789
1608  Central & South America     0.55    0.426    0.627    0.662     0.78
1609  Central & South America    5.145    3.597    6.113    6.623    5.386

         1985     1986  ...     2012     2013      2014      2015       2016  \
0      11.569   12.214  ...  53.9845  56.3134  60.39972  64.68244   66.75504
1       1.028    1.088  ...  6.03408  7.97606   9.21666   9.30914  10.203511
2       0.005    0.005  ...  0.04612  0.08848   0.22666   0.31056    0.26004
3       0.456    0.538  ...     0.33  0.86868   2.17628   2.79104    2.52984
4       0.115    0.122  ...  0.86834  0.98268   1.11808   1.43986     1.5509
...       ...      ...  ...      ...      ...       ...       ...        ...
1605    0.407    0.337  ...    0.239    0.234     0.245     0.248      0.253
1606  0.00035  0.00035  ...        0        0         0         0          0
1607  0.05922  0.06055  ...    0.063     0.06      0.06      0.06      0.065
1608    0.702    0.911  ...    1.292    1.282     1.253      1.49      1.608
1609    6.818    8.605  ...   25.113   25.627    42.699    40.381     33.543

           2017       2018       2019         2020         2021
0      71.49546   72.10903     76.685  72.73591277  77.53072719
1      10.67604   12.83194       15.4         16.6    16.429392
2        0.3115    0.19028     0.2017      0.22608   0.24109728
3        2.8438    2.97076     3.0469      2.05144   2.18234816
4       1.64602     1.6464    1.72552  1.647133174  1.761209666
...         ...        ...        ...          ...          ...
1605   0.274864   0.425807   0.424101     0.422757     0.422757
1606      0.014     0.0125     0.0125       0.0125   0.01277172
1607      0.065       0.05      0.051        0.051        0.051
1608   1.694491   1.557257   1.322331     1.129273     1.129273
1609  32.237348  30.982821  25.637959    23.099784  23.04704156

[1610 rows x 45 columns]

,Country,Features,Region,1980,1981,1982,1983,1984,1985,1986,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,1610,1610,1610,1582,1582,1582,1582,1582,1582,1582,...,1582,1582,1582,1582,1582,1582,1582,1582,1579,1584
unique,230,7,7,776,772,786,780,788,805,820,...,1069,1089,1100,1106,1109,1129,1146,1154,1146,1155
top,Algeria,net generation,Africa,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,7,230,399,421,418,418,417,420,412,407,...,356,355,347,345,339,336,328,324,317,318